
body { margin: 0; font-size: 14px; line-height: 1.61; font-weight: 400; font-family: 'Open Sans', sans-serif; background: #fff;}

a { color: #12C; }

header, footer, .container { max-width: 45em; margin: 0 auto; }

header { padding: 0 0.5em; color: #C90B0B; }
.header-img { border-radius: 40px; float: left; }
.header-text { font-size:1.5em; font-weight: bold; padding-left: 4em;}
.header-span { font-size: 0.8em; font-weight: normal;}

.hero { padding: 2em; background-color: #f8f8f8; font-size:1.2em;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.contentImage {
  float:left;
  padding-right: 1em;
}

.contentText {
  font-size: 0.9em;
  font-style: italic;
}

.contentLink {
  list-style-type: none; font-size: 1.1em;
}

.content { padding: 1em 1em; }


footer {
  padding: 0 0.5em;
  border-top: 1px solid #ccc;
}
footer span { float: right; font-style: italic; }

/* Smartphones (portrait) */
@media only screen and (max-width: 480px) {
  body { font-size: 12px;}
  header p { padding-left: 4.5em;}
}
